#speedContainer {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    text-align: center;
    margin-right: 5%;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}


#inputSpeed {
    color: white;
    margin-right: 5px;
}

#OtherAtt {
    display: flex;
    flex-direction: column;
    color: white;
}

#CylinderLabel, #torkLabel, #GearLabel {
    display: block;
    text-align: center;
}

#c0, #c1, #c2, #c3 {
    padding: 10px;
}