#speedContainer {
    position: absolute;
    top: 45%;
    right: 0;
    transform: translate(0, -50%);
    text-align: center;
    margin-right: 5%;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}


#inputSpeed {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 75px;
    color: white;
    padding: 5px;
}