canvas { position: absolute }

body {
  background-color: #e3dac9;
  overflow: hidden;
}

.all-sliders{
  position: absolute;
  max-width: 1000px;
  height: auto;
}

.slider-container {
  width: 50%;
  float: left;
  margin: 10px 10px;
  margin-top: 150px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  margin-bottom: 70px;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #c4bfff;
  outline: none;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #655ecf;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #655ecf;
  cursor: pointer;
}


.first { width: 30% }
.first span { color: black }
.first .slider::-webkit-slider-thumb { background: #655ecf }
.first .slider { background: #c4bfff; border-style: solid; border-color: black; border-width: 1px}

.second { width: 30% }
.second span { color: black }
.second .slider::-webkit-slider-thumb { background: #eb3992 }
.second .slider { background: #ff7ebe; border-style: solid; border-color: black; border-width: 1px }

.third { width: 30% }
.third span { color: black }
.third .slider::-webkit-slider-thumb { background: #14bd3e }
.third .slider { background: linear-gradient(to right, black, red, orange, yellow, green, blue, indigo, violet, white); border-style: solid; border-color: black; border-width: 1px}

.fourth { width: 30% }
.fourth span { color: black }
.fourth .slider::-webkit-slider-thumb { background: #395aeb }
.fourth .slider { background: #718afa; border-style: solid; border-color: black; border-width: 1px }

.fifth { width: 30% }
.fifth span { color: black }
.fifth .slider::-webkit-slider-thumb { background: #162b4d }
.fifth .slider { background: #808080; border-style: solid; border-color: black; border-width: 1px }

.sixth { width: 30% }
.sixth span { color: black }
.sixth .slider::-webkit-slider-thumb { background: #ff0000 }
.sixth .slider { background: #FFA500; border-style: solid; border-color: black; border-width: 1px }

#map {
  position: absolute;
  top: 90%;
  left: 53%;
  width: 100px;
  height: auto;
  display: none;
}